---
layout: default
---
{% include sections/cover.html %}
{% include sections/contents.html %}
{% include sections/foundations-what.html %}
{% include sections/foundations-hungry.html %}
{% include sections/foundations-loop.html %}
{% include sections/neuro-brain.html %}
{% include sections/neuro-sugar.html %}
{% include sections/neuro-guilt.html %}
{% include sections/culture-bowls.html %}
{% include sections/culture-smell.html %}
{% include sections/culture-surrogacy.html %}
{% include sections/data-sources.html %}
{% include sections/data-findings.html %}
{% include sections/data-gender.html %}
{% include sections/trends-nostalgia.html %}
{% include sections/trends-reconsidered.html %}
{% include sections/closing.html %}
{% include sections/references.html %}
